.MainContainer {
    /*border: 1px dashed black;*/
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(25em, 40%) auto;
    grid-template-rows: 1fr;
    grid-template-areas: "leftArea rightArea";
}

.LeftArea {
    grid-area: leftArea;
}

.RightArea {
    grid-area: rightArea;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}