.MainContainer {
    height: 100%;
    box-sizing: border-box;
}

.FormCadastro {
    padding-top: 10%;
    display: flex;
    flex-direction: column;    
}

.MainContainer label {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.MainContainer input[type='email'] {
    height: 1.5em;
    border-style: none;
    border-bottom: 2px solid rgba(0, 26, 49, 0.897);
    background-color: white;
    margin-right: 2px;
    width: 100%;
    font-size: 1em;
}

.MainContainer input[type='password'] {
    height: 1.5em;
    border-style: none;
    border-bottom: 2px solid rgba(0, 26, 49, 0.897);
    background-color: white;
    margin-right: 2px;
    width: 100%;
    font-size: 1em;
}


.MainContainer input[type='submit'] {
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.45);
    background-color: rgba(0, 42, 82, 0.897);
    border-style: none;
    border-radius: 2px;
    color: white;
    margin-top: 2em;
    width: 30%;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
}