.MainContainer {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(25em, 50%) minmax(25em, auto);
    grid-template-rows: 1fr;
    grid-template-areas: "leftArea rightArea";
}

.MainContainer h3 {
    margin-left: 1em;
}

.ListVendas {
    margin: 0.5em;
    grid-area: leftArea;
    font-size: 1.2em;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.ListItens {
    margin: 0.5em;
    grid-area: rightArea;
    font-size: 1.2em; 
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

/*List vendas*/
.ListHeader {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 26, 49, 0.897);
    border-bottom: 2px solid red;
    padding-top: 0.5em;
    color: white;
    word-break: break-all;
}

.ListHeader div {
    width: 6em;
    text-align: center;
    height: 1.5em;
}

.ComponentList {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 0.5em;
    height: max-content;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    align-items: center;
    word-break: break-all;
}

.ComponentListSelect {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 0.5em;
    height: 3em;
    border-right: 5px solid red;
    border-left: 5px solid red;
    font-weight: bold;
    color: red;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    align-items: center;
}

.HeaderListItens {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.HeaderListItens h3{
    margin-right: 2em;

}

.buttonRemove {
    border-style: none;
    background-color: rgb(201, 2, 2);
    color: white;
    font-size: 1.2em;
    width: 1.5em;
    margin-bottom: 0.2em;
    border-radius: 0.15em;
}

.buttonRemove:hover {
    background-color: rgb(255, 0, 0);
}

.buttonAdd {
    border-style: none;
    background-color: rgb(0, 177, 38);
    color: white;
    width: 1.5em;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    border-radius: 0.15em;
    margin: 0.1em
}

.buttonAdd:hover {
    background-color: rgb(3, 255, 58);
}

.ComponentList:hover {
    border-right: 5px solid rgb(1, 7, 87);
    border-left: 5px solid rgb(1, 7, 87);
    font-weight: bold;
    color: rgb(1,7,87);
}

.ComponentList div {
    padding-top: 0.3em;
    text-align: center;
    height: 100%;
    width: 30%;
    text-align: center;
}

.ComponentListSelect div {
    padding-top: 0.3em;
    text-align: center;
    height: 100%;
    width: 30%;
    text-align: center;

}
