/*Main container*/
.MainContainer {
    background-color: rgba(0, 42, 82, 0.897);
    height: 100%;
    width: 16em;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75);
}

/*Container of options*/
.NavContainer {
    display: grid;
    height: 100%;
}

.NavContainer p {
    color: white;
    width: 100%;
    font-size: 1.2em;
    padding-left: 1em;
}

/*Component option*/
.NavLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 4px;
}

.NavLink:hover {
    background-color:  rgba(0, 26, 49, 0.897);
}

 .NavLink button img{
    width: 2em;
    height: 2em;
 }


.NavLink img {
    display: inline;
    height: 2em;
}

@media screen and (max-width: 1000px){
    .MainContainer {
        display: flex;
        height: 100%;
        width: max-content;
    }
    .NavContainer p {
        display: none;
    }
    
}