.MainContainer {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(40em, 70%) minmax(25em, 30%);
    grid-template-rows: 70% 30%;
    grid-template-areas: "painel-superior painel-lateral"
                         "painel-inferior painel-lateral";
}

.PainelLateral {
    grid-area: painel-lateral;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

}

.PainelSuperior {
    grid-area: painel-superior;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.PainelInferior {
    box-sizing: border-box;
    grid-area: painel-inferior;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

