.MainContainer {
    display: flex;
    flex-direction: column;
}

.HeaderList {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 26, 49, 0.897);
    border-bottom: 2px solid red;
    padding-top: 0.5em;
    font-weight: bold;
    color: white;

}

.HeaderList div {
    text-align: center;
    width: 7em;
}
