.MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 0.2em;
}
.Header {
    color: red;
    margin-left: 1em;
    text-shadow: 2px 1px 4px rgba(0,0,0,0.24);
}

.Body {
    height: 90%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.LeftArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.RightArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;

}

.Card {
    background-color: rgba(0, 42, 82, 0.897);
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.45);
    width: 95%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.graphic {
    display: flex;
    box-sizing: border-box;
    margin-top: 1em;

}