.ContainerFormularioCompras {
    right: 2em;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerFormularioCompras h2 {
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
    display: flex;
    grid-area: title;
    padding-left: 2em;
    color: red;
    justify-content: space-between;
    padding-left: 10%;
}

.ContainerFormularioCompras form {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.LabelLocal {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.24);
    color: rgb(97 97 97);
    font-size: 1.1em;
    padding-top: 1em;

}

.ContainerFormularioCompras input[type=text] {
    height: 1.5em;
    border-style: none;
    border-bottom: 2px solid rgba(0, 26, 49, 0.897);
    background-color: white;
    margin-right: 2px;
    font-size: 1em;
}

.ContainerFormularioCompras input[type=date] {
    height: 1.7em;
    border-style: none;
    border-bottom: 2px solid rgba(0, 26, 49, 0.897);
    background-color: white;
    margin-right: 2px;
    font-size: 1em;
}

.ContainerFormularioCompras input[type=number] {
    height: 1.7em;
    border-style: none;
    border-bottom: 2px solid rgba(0, 26, 49, 0.897);
    background-color: white;
    margin-right: 2px;
    font-size: 1em;
}

.ContainerFormularioCompras input[type=submit] {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 12em;
    height: 3em;
    margin-top: 6px;
    background-color: rgba(0, 42, 82, 0.897);
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.ContainerFormularioCompras button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 12em;
    height: 3em;
    margin-top: 6px;
    background-color: rgba(0, 42, 82, 0.897);
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.45);
    color: white;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}