.LoadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 8px solid #9c9c9c;
    border-radius: 50%;
    border-top-color: rgba(226, 0, 0, 0.897);
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

