.PagesArea {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.PagesArea button {
    width: 3em;
    height: 3em;
    margin-left: 1em;
}

.PagesArea select {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    color: rgba(0, 42, 82, 0.897);
    font-weight: bold;
}

.PagesArea select:focus {
    outline: none;
}


.buttonActive {
    background-color: rgba(0, 42, 82, 0.897);
    color: white;
    border-style: none ;
}

