.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.FormContainer {
    border: 1px dashed black;
    display: flex;
    width: 50%;
    height: 50%;
}

.FormContainer input[type='text'] {
    width: 80%;
    font-size: 1.2em;
    border-style: none;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.FormContainer input:focus {
    outline-style: none;
}

.FormContainer button { 
    width: 20%;
    border-style: none;
    background-color: white;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.FormContainer button img { 
    width: 1.5em;
}