.MainContainer {
    grid-area: list;
    list-style: none;
}

.MainContainer table {
    display: flex;
    flex-direction: column;
    height: 100%;
    table-layout: none;
}

.HeaderList {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 42, 82, 0.897);
    border-bottom: 5px solid red;
    color: white;
}

.HeaderList th {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    text-align: center;
    word-break: break-all;
}

.ListComponent {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    margin-top: 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 4em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    align-items: center;
}

.ListComponent td {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    text-align: center;
    word-break: break-all;
}

.buttonDetalhe {
    margin-left: 2em;
    border-radius: 3px;
    background-color: rgba(0, 42, 82, 0.897);
    border-style: none;
}

.buttonDeletar {
    margin-left: 2em;
    border-radius: 3px;
    background-color: #e20000;
    border-style: none;
}

.ElementData button img {
    padding-top: 2px;
    width: 2em;
}

.PaginationArea {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.Title {
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
    display: flex;
    grid-area: title;
    padding-left: 2em;
    color: red;
}

.buttonDetalhe {
    cursor: pointer;
    margin-left: 2em;
    border-radius: 3px;
    background-color: rgba(0, 42, 82, 0.897);
    border-style: none;
}

.buttonDetalhe img {
    padding-top: 2px;
    width: 2em;
}