.ButtonNavigate {
    cursor: pointer;
    background-color: rgb(219, 2, 2);
    border-style: none;
    border-radius: 2px;
    height: 2em;
    width: 10em;
    margin-left: 0.1em;
    margin-bottom: 0.2em;
    margin-right: auto;
    margin-top: 1em;
    font-size: 1em;
    color: white;
    font-weight: bold;
}

.ButtonNavigate:hover {
    background-color: rgb(172, 0, 0);
    color:white;
}