.ButtonNavigate {
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.45);
    background-color: rgba(0, 42, 82, 0.897);
    border-style: none;
    border-radius: 2px;
    height: 2em;
    width: 10   em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-size: 1em;
    color: white;
}

.ButtonNavigate:hover {
    background-color: rgba(0, 26, 49, 0.897);
    color:white;
}