.MainContainer {
    box-sizing: border-box;
    height: 95%;
}

.Tittle {
    margin-left: 1em;
    text-shadow: 1px 0px 3px rgba(0,0,0,0.75);
    color: red;
}

.FormContainer {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    height: 50%;
}


.FormContainer form {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;

}

.FormContainer label {
    display: flex;   
    flex-direction: column;
    justify-content: center;
}

.FormContainer input[type='text']{
    height: 1.7em;
    border-style: none;
    border-bottom: 2px solid rgba(0, 26, 49, 0.897);
    background-color: white;
    margin-bottom: 1em;
    font-size: 1em;
}

.FormContainer input[type='text']:focus {
    outline: none;
    border-bottom: 2px solid  #e20000;
}

.MainContainer input[type='submit'] {
    cursor: pointer;
    box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.45);
    background-color: rgba(0, 42, 82, 0.897);
    border-style: none;
    border-radius: 2px;
    height: 2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-size: 1em;
    color: white;
}

.MainContainer input[type='submit']:hover {
    background-color: rgba(0, 26, 49, 0.897);
    color:white;
}